{% extends "base.html" %}

{% block main %}
  <p class="h1">Welcome to our Library!</p>
  <p class="lead">These are our best books:</p>
  <form action="" method="GET">
    <div class="row">
      <div class="col-4">
        <input type="text" name="q" class="form-control">
      </div>
      <div class="col-6">
        <input type="submit" class="btn btn-primary btn-xs" value="Search">
      </div>
    </div>
  </form>
  <br>
  <table class="table table-bordered table-hover text-center lead">
    <thead>
      <tr>
        <th>#</th>
        <th>Book Title</th>
        <th>Author</th>
        <th><a href="/?sort={% if sort_method == 'asc' %}desc{% else %}asc{% endif %}">Popularity({% if sort_method == 'asc' %} v {% else %} ^ {% endif %})</a></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <td class="align-middle">{{ book.id }}</td>
          <td class="align-middle">{{ book.title}}</td>
          <td class="align-middle"><a href="{% url 'author_by_id' book.author.id %}">{{ book.author.name}}</a></td>
          <td class="align-middle">{{ book.popularity}}</td>
          <td class="align-middle">
            <div class="row justify-content-md-center">
              <a href="/edit_book/{{book.id}}" style="margin-right: 5px;"><button type="button" class="btn btn-outline-warning btn-xs">Edit</button></a>
              <form class="" action="/delete_book" method="post">
                {% csrf_token %}
                <input type="hidden" name='book_id' value='{{book.id}}'>
                <input type="submit" value='Delete' class="btn btn-outline-danger btn-xs">
              </form>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p class="lead"><a href="{% url 'authors' %}">Prefer to browse by author?</a></p>
  <a href="/create_book/"><button type="button" class="btn btn-info">Create Book</button></a>
{% endblock %}
