<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" crossorigin="anonymous">
    <title>Our library</title>
  </head>
  <body style='padding: 0px 20px'>
    <h1>Welcome to our Library!</h1>
    <p><b>These are our best books:</b></p>
    <form action="" method="GET">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
    <br>
    <table class="pure-table pure-table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Book Title</th>
          <th>Author</th>
          <th><a href="/?sort={% if sort_method == 'asc' %}desc{% else %}asc{% endif %}">Popularity({% if sort_method == 'asc' %} v {% else %} ^ {% endif %})</a></th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
          <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title}}</td>
            <td><a href="{% url 'author_by_id' book.author.id %}">{{ book.author.name}}</a></td>
            <td>{{ book.popularity}}</td>
            <td>
              <a href="/edit_book/{{book.id}}"><button type="button">Edit</button></a>
              <form class="" action="/delete_book" method="post">
                {% csrf_token %}
                <input type="hidden" name='book_id' value='{{book.id}}'>
                <input type="submit" value='Delete'>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p><a href="{% url 'authors' %}">Prefer to browse by author?</a></p>
    <h1>Create a new book</h1>
    <form class="" action="/" method="POST">
      {% csrf_token %}

      <label for="title">Title:</label>
      <input id="title" type="text" name='title' value='' {% if 'title' in errors %}style='border: 1px red solid'{% endif %}> <span style='color:red'>{{errors.title}}</span>

        <br>

      <label for="author">Author:</label>
      <select id="author" name="author">
        {% for author in authors %}
          <option value="{{ author.id }}">{{ author.name }}</option>
        {% endfor %}
      </select>

      <br>

      <label for="isbn">ISBN:</label>
      <input id="isbn" type="text" name='isbn' {% if book_data and 'isbn' in book_data %} value='{{book_data.isbn}}' {% else %} value='' {% endif %}>

      <br>

      <label for="popularity">Popularity:</label>
      <input id="popularity" type="number" name='popularity' value='3.5' step="0.1">
      <br>
      <input type="submit" value="Create book">
    </form>
  </body>
</html>
